.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/geosmart.io.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
